header {
  width: 100%;
  height: 55px;
  background: #00f;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
header .wrapper {
  box-shadow: 0 0 0 0 transparent;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-upper--logo,
.header-upper--description,
.header-upper--search {
  width: 33.33%;
  text-align: center;
media(1200px)
}
.header-upper--logo p,
.header-upper--description p,
.header-upper--search p {
  font-size: 100%;
  line-height: 1.5;
}
.header-upper--logo {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
media(480px)
}
.header-upper--search {
  text-align: right;
media(768px)
}
.header-upper--search input {
  border-radius: 20px;
  height: 25px;
  border: 0;
  padding: 5px 20px;
  box-sizing: border-box;
media(480px)
}
.header-upper--search button {
  background: #00f;
  border-radius: 20px;
  box-shadow: 0 0 5px 0px #00008b;
  width: auto;
  line-height: 1.8;
  padding: 5px 20px;
}
.min .header-upper {
  top: -55px;
}
.min .header-top {
  top: 0;
}
.header-upper {
  height: 90px;
  width: 100%;
  left: 0;
  background: #00f;
  top: 0;
  position: fixed;
  transition: animation;
}
.header-top {
  background: #00f;
  position: fixed;
  top: 90px;
  left: 0;
  width: 100%;
  height: 60px;
  transition: animation;
}
.header-top_menu {
  width: 231px;
  height: 59px;
  background: #00008b;
}
@media (max-width: 480px) {
  .header-top_menu {
    width: 55px;
  }
}
.header-top_nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1em;
}
@media (max-width: 960px) {
  .header-top_nav {
    justify-content: space-around;
  }
}
@media (max-width: 480px) {
  .header-top_nav {
    justify-content: flex-start;
  }
}
.header-top_nav li {
  margin: 0 0.5em;
}
@media (max-width: 1200px) {
  .header-top_nav li:nth-last-child(1) {
    display: none;
  }
}
@media (max-width: 960px) {
  .header-top_nav li {
    display: none;
  }
  .header-top_nav li:nth-child(1) {
    display: block;
  }
}
.header-top_nav li a {
  transition: animation;
}
.header-top_nav li a:hover {
  color: #808080;
}
.header-top_phone {
  min-width: 11em;
}
@media (max-width: 960px) {
  .header-top_phone {
    min-width: 12em;
  }
}
.header-top_phone p {
  padding-top: 5px;
  font-family: "RobotoLight";
  margin: 0;
  color: #fff;
}
.header-top_phone a {
  font-size: 20px;
  line-height: 2;
  cursor: pointer;
  font-weight: 600;
  font-family: 'RobotoBold';
}
.menu-header {
  display: flex;
  height: 55px;
  padding-left: 25px;
  align-items: center;
  cursor: pointer;
  background: url("../img/menu-btn.png");
}
@media (max-width: 480px) {
  .menu-header {
    padding-left: 15px;
    background-position: -17px 0;
  }
}
.menu-header p {
  margin-left: 25px;
  font-family: "GothamProMedium";
  font-size: 16px;
}
@media (max-width: 480px) {
  .menu-header p {
    display: none;
  }
}
.menu ul {
  background: #00008b;
  padding: 0 0 15px;
  margin-top: -550px;
  transition: animation;
}
@media (max-width: 480px) {
  .menu ul {
    position: absolute;
    width: 100%;
  }
}
.menu ul.open {
  margin: 0;
}
.menu ul li {
  padding: 10px 25px;
  min-height: 40px;
}
.menu ul li:hover {
  background: #00f;
}
.menu ul li a {
  font-size: 12px;
}
