body {
  background: #e0e0e0;
}
.wrapper {
  max-width: 1233px;
  margin: 55px auto 0;
  box-shadow: 0px 0px 10px 0px #000;
  position: relative;
}
.wrapper.pub {
  display: flex;
}
h1 {
  font-size: 30px;
  color: #fff;
  font-family: "GothamProRegular";
}
h2 {
  font-size: 25px;
  color: #336687;
  font-family: "GothamProRegular";
}
a {
  font-size: 14px;
  color: #fff;
  font-family: "GothamProRegular";
  text-decoration: none;
}
p {
  color: #fff;
  font-family: 'Roboto';
  font-size: 14px;
}
.content {
  margin-top: 55px;
}
@font-face {
  font-family: "GothamProRegular";
  src: url("../fonts/GothamProRegular/GothamProRegular.eot");
  src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"), url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GothamProMedium";
  src: url("../fonts/GothamProMedium/GothamProMedium.eot");
  src: url("../fonts/GothamProMedium/GothamProMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"), url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('../Roboto/fonts/Roboto Thin'), local('Roboto-Thin'), url("../fonts/Roboto/Robotothin.woff2") format('woff2'), url("../fonts/Roboto/Robotothin.woff") format('woff'), url("../fonts/Roboto/Robotothin.ttf") format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('../Roboto/fonts/Roboto Thin'), local('Roboto-Thin'), url("../fonts/Roboto/Robotothin.woff2") format('woff2'), url("../fonts/Roboto/Robotothin.woff") format('woff'), url("../fonts/Roboto/Robotothin.ttf") format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoRegular';
  src: local('../Roboto/fonts/Roboto'), local('Roboto-Regular'), url("../fonts/Roboto/Roboto.woff2") format('woff2'), url("../fonts/Roboto/Roboto.woff") format('woff'), url("../fonts/Roboto/Roboto.ttf") format('truetype');
  font-weight: 100;
  font-style: normal;
}
header {
  width: 100%;
  height: 55px;
  background: #336687;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
header .wrapper {
  box-shadow: 0 0 0 0 transparent;
  margin: 0 auto;
}
.header-top {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}
.header-top_menu {
  width: 231px;
  height: 55px;
  background: #1f3d52;
}
.header-top_nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1em;
}
.header-top_nav li {
  margin: 0 0.5em;
}
.header-top_phone p {
  padding-top: 5px;
}
.header-top_phone a {
  font-size: 20px;
  line-height: 2;
  cursor: pointer;
  font-weight: 600;
  font-family: 'Roboto';
}
.menu-header {
  display: flex;
  height: 55px;
  padding-left: 25px;
  align-items: center;
  cursor: pointer;
}
.menu-header p {
  margin-left: 25px;
  font-family: "GothamProRegular";
  font-size: 16px;
}
.menu ul {
  background: #1f3d52;
  padding: 0 0 15px;
  margin-top: -460px;
  transition: all 0.5s ease;
}
.menu ul.open {
  margin: 0;
}
.menu ul li {
  padding: 10px 25px;
  min-height: 40px;
}
.menu ul li:hover {
  background: #336687;
}
.menu ul li a {
  font-size: 12px;
}
.sitebar {
  width: 231px;
  background: #e0e0e0;
  font-family: 'GothamProMedium';
}
.sitebar-item {
  padding: 20px 30px;
}
.sitebar-item_active {
  background: #cbd3d8;
  padding: 20px 30px;
}
.sitebar-item--date,
.public-fill--date {
  font-weight: 400;
  line-height: 30px;
  font-size: 18px;
  color: #a3a3a3;
}
a.sitebar_a,
.all {
  color: #336687;
  line-height: 25px;
  text-decoration: underline;
  font-weight: 400;
  font-size: 18px;
  padding: 25px;
  font-family: 'GothamProMedium';
}
.all::before {
  content: "";
  width: 35px;
  height: 35px;
  background: url("../img/arrows.png");
  display: block;
  background-position: 36px 0;
  margin-bottom: 10px;
}
.public {
  width: calc(100% - 231px);
  position: relative;
  background: #fff;
  padding: 56px;
  font-family: 'GothamProMedium';
}
.public-head {
  width: 100%;
  height: 114px;
  background: url("../img/bg_header.jpg") no-repeat;
  background-size: 100%;
  padding: 56px;
  position: absolute;
  top: 0;
  left: 0;
}
.public-fill {
  margin-top: 85px;
}
.public-fill--date {
  padding: 10px 0;
}
.public-fill p {
  color: #000;
  font-family: 'RobotoRegular';
  margin: 10px 0;
}
.public-fill--gallery {
  width: calc(100% + 112px);
  height: 591px;
  margin: 0 -56px;
  background: url("../img/bg_slider.jpg");
}
