.font-white {
  color: #fff !important;
}
.font-black {
  color: #000 !important;
}
.font-blue {
  color: #336687 !important;
}
.font-darkblue {
  color: #1f3d52 !important;
}
.font-active {
  color: #cbd3d8 !important;
}
.font-bold {
  font-weight: bold !important;
  font-family: "RobotoBold" !important;
}
.font-normal {
  font-weight: normal !important;
  font-family: "RobotoRegular" !important;
}
.ttu {
  text-transform: uppercase !important;
}
.tdu {
  text-decoration: underline;
}
.ttn {
  text-transform: none !important;
}
.tac {
  text-align: center !important;
}
.tal {
  text-align: left !important;
}
.taj {
  text-align: justify !important;
}
.tar {
  text-align: right !important;
}
.full {
  width: 100% !important;
}
.large {
  width: 66.66% !important;
}
.small {
  width: 33.33% !important;
}
.semi {
  width: 50% !important;
}
.wrap {
  -webkit-flex-wrap: wrap !important;
      -ms-flex-wrap: wrap !important;
          flex-wrap: wrap !important;
}
.center {
  margin: 0 auto;
}
.clear {
  clear: both !important;
}
.fl {
  float: left !important;
}
.fr {
  float: right !important;
}
.active {
  background: #cbd3d8;
}
.none {
  display: none !important;
}
.opacity {
  opacity: 0 !important;
}
.arrows {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.arrow-prew,
.arrow-prew:hover,
.arrow-prew:active,
.arrow-prew:hover:active,
.wrapper_owl .owl-nav.disabled .owl-prev:hover,
.wrapper_owl .owl-nav.disabled .owl-prev:active,
.wrapper_owl .owl-nav.disabled .owl-prev {
  width: 35px;
  height: 35px;
  background: url("../img/sprite.png");
  background-position: 0 0;
  border-radius: 50%;
}
.arrow-prew:hover,
.arrow-prew:hover:hover,
.arrow-prew:active:hover,
.arrow-prew:hover:active:hover,
.wrapper_owl .owl-nav.disabled .owl-prev:hover:hover,
.wrapper_owl .owl-nav.disabled .owl-prev:active:hover,
.wrapper_owl .owl-nav.disabled .owl-prev:hover {
  background-position-y: 72px;
}
.arrow-prew:active,
.arrow-prew:hover:active,
.arrow-prew:active:active,
.arrow-prew:hover:active:active,
.wrapper_owl .owl-nav.disabled .owl-prev:hover:active,
.wrapper_owl .owl-nav.disabled .owl-prev:active:active,
.wrapper_owl .owl-nav.disabled .owl-prev:active {
  background-position-y: 36px;
}
.arrow-next,
.arrow-next:hover,
.arrow-next:active,
.arrow-next:hover:active,
.wrapper_owl .owl-nav.disabled .owl-next:hover,
.wrapper_owl .owl-nav.disabled .owl-next:active,
.wrapper_owl .owl-nav.disabled .owl-next {
  width: 35px;
  height: 35px;
  background: url("../img/sprite.png");
  background-position: 140px 0;
  border-radius: 50%;
}
.arrow-next:hover,
.arrow-next:hover:hover,
.arrow-next:active:hover,
.arrow-next:hover:active:hover,
.wrapper_owl .owl-nav.disabled .owl-next:hover:hover,
.wrapper_owl .owl-nav.disabled .owl-next:active:hover,
.wrapper_owl .owl-nav.disabled .owl-next:hover {
  background-position-y: 72px;
}
.arrow-next:active,
.arrow-next:hover:active,
.arrow-next:active:active,
.arrow-next:hover:active:active,
.wrapper_owl .owl-nav.disabled .owl-next:hover:active,
.wrapper_owl .owl-nav.disabled .owl-next:active:active,
.wrapper_owl .owl-nav.disabled .owl-next:active {
  background-position-y: 36px;
}
.arrow-up,
.arrow-up:hover,
.arrow-up:active,
.arrow-up:hover:active {
  width: 35px;
  height: 35px;
  background: url("../img/sprite.png");
  background-position: 70px 0;
  border-radius: 50%;
}
.arrow-up:hover,
.arrow-up:hover:hover,
.arrow-up:active:hover,
.arrow-up:hover:active:hover {
  background-position-y: 72px;
}
.arrow-up:active,
.arrow-up:hover:active,
.arrow-up:active:active,
.arrow-up:hover:active:active {
  background-position-y: 36px;
}
.arrow-down,
.arrow-down:hover,
.arrow-down:active,
.arrow-down:hover:active {
  width: 35px;
  height: 35px;
  background: url("../img/sprite.png");
  background-position: 105px 0;
  border-radius: 50%;
}
.arrow-down:hover,
.arrow-down:hover:hover,
.arrow-down:active:hover,
.arrow-down:hover:active:hover {
  background-position-y: 72px;
}
.arrow-down:active,
.arrow-down:hover:active,
.arrow-down:active:active,
.arrow-down:hover:active:active {
  background-position-y: 36px;
}
.icon {
  width: 56px;
  height: 76px;
  background: url("../img/icons.png");
}
.icon.bus {
  background-position: 0 0;
}
.icon.gas {
  background-position: -56px 0;
}
.icon.fire {
  background-position: -112px 0;
}
.icon.wash {
  background-position: 115px 0;
}
.icon.parking {
  background-position: 56px 0;
}
.icon.camping {
  background-position: 0 78px;
}
.icon.repair {
  background-position: -56px 79px;
}
.icon.hotel {
  background-position: -112px 79px;
}
.icon.rest {
  background-position: 113px 79px;
}
.icon.food {
  background-position: 56px 79px;
}
.up {
  display: none;
  width: 38px;
  height: 38px;
  background: url("../img/footer_up.png");
  position: absolute;
  right: 25px;
  bottom: 60px;
}
@media screen and (max-width: 768px) {
  .up {
    display: block;
  }
}
@font-face {
  font-family: "GothamProRegular";
  src: url("../fonts/GothamProRegular/GothamProRegular.eot");
  src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"), url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GothamProMedium";
  src: url("../fonts/GothamProMedium/GothamProMedium.eot");
  src: url("../fonts/GothamProMedium/GothamProMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"), url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GothamProBold";
  src: url("../fonts/GothamProBold/GothamProBold.eot");
  src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProBold/GothamProBold.woff") format("woff"), url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GothamProBlack";
  src: url("../fonts/GothamProBlack/GothamProBlack.eot");
  src: url("../fonts/GothamProBlack/GothamProBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProBlack/GothamProBlack.woff") format("woff"), url("../fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@media screen and (max-width: 960px) {
  .full.min-mobile {
    padding: 56px 0px 30px;
  }
}
.full.min-mobile h1 {
  text-align: left;
}
@media screen and (max-width: 480px) {
  .full.min-mobile h1 {
    text-align: center;
    margin: 10px;
  }
}
.index {
  padding-top: calc(100vh - 290px);
}
.index-block {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  background: #336687;
  box-shadow: 0 0 100px 0px #1f3d52 inset;
}
.index-block_description {
  width: 65%;
  padding: 60px 100px;
}
@media screen and (max-width: 768px) {
  .index-block_description {
    padding: 20px;
  }
}
@media screen and (max-width: 480px) {
  .index-block_description {
    width: 100%;
  }
}
.index-block_description h3 {
  font-family: "GothamProMedium";
  color: #fff;
  text-transform: none;
  font-size: 34px;
}
.index-block_description p {
  font-family: "GothamProRegular";
  font-size: 16px;
}
.index-block_description button.btn_more {
  background: #4b7b9b;
  margin: 10px;
}
.index-block_buttons {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding: 10px 0;
}
@media screen and (max-width: 480px) {
  .index-block_buttons {
    display: none;
  }
}
.index-block_buttons__item a {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}
.index-block_buttons__item a p {
  font-size: 22px;
  text-align: left;
}
@media screen and (max-width: 640px) {
  .index-block_buttons__item a p {
    font-size: 16px;
  }
}
.index-block svg {
  padding: 15px;
  background: #57ade6;
  border-radius: 5px;
  margin-right: 10px;
  width: 77px;
  height: 77px;
}
@media screen and (max-width: 768px) {
  .index-block svg {
    display: none;
  }
}
.index-block svg path {
  transition: all 0.5s ease;
  fill: #fff;
}
.index-block svg:hover path {
  fill: #cbd3d8;
}
.index-social {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.index-social_item {
  width: 25%;
  transition: all 0.5s ease;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 480px) {
  .index-social_item {
    width: 50%;
  }
}
.index-social_item p {
  font-size: 14px;
  transition: all 0.5s ease;
  color: #ccc;
}
.index-social .twitter {
  background: #1da1f2 url("../img/twitter.png") no-repeat center center;
  background-size: 20% 90%;
}
.index-social .twitter:hover {
  box-shadow: 0 0 0px 3px #1da1f2;
  z-index: 1;
  background-position: 10% center;
}
.index-social .ok {
  background: #f6882e url("../img/ok.png") no-repeat center center;
  background-size: 20% 90%;
}
.index-social .ok:hover {
  box-shadow: 0 0 0px 3px #f6882e;
  z-index: 1;
  background-position: 10% center;
}
.index-social .vk {
  background: #507299 url("../img/vk.png") no-repeat center center;
  background-size: 20% 90%;
}
.index-social .vk:hover {
  box-shadow: 0 0 0px 3px #507299;
  z-index: 1;
  background-position: 10% center;
}
.index-social .facebook {
  background: #3d5a98 url("../img/facebook.png") no-repeat center center;
  background-size: 20% 90%;
}
.index-social .facebook:hover {
  box-shadow: 0 0 0px 3px #3d5a98;
  z-index: 1;
  background-position: 10% center;
}
.logo_index {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .logo_index {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}
.logo_index img {
  margin-right: 1em;
}
@media screen and (max-width: 480px) {
  .logo_index img {
    margin: 0;
  }
}
.to-down {
  position: fixed;
  left: calc(50% - 6em);
  top: 90vh;
  text-transform: uppercase;
  font-family: "Gotham Pro";
  font-size: 16px;
  text-transform: uppercase;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.to-down::before {
  content: '';
  display: block;
  width: 20px;
  height: 32px;
  background: url("../img/down.png");
  margin-right: 5px;
}
.shadow {
  width: 100%;
  padding: 45px 36px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  transition: all 0.5s ease;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
@media screen and (max-width: 960px) {
  .shadow {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .shadow a {
    width: 100%;
  }
}
.shadow:hover {
  box-shadow: 0px 0px 5px 2px #cbd3d8;
}
.shadow h2 {
  width: 35%;
  text-align: left;
  padding: 0 10% 0 0;
}
@media screen and (max-width: 960px) {
  .shadow h2 {
    width: 100%;
  }
}
.shadow p {
  width: 65%;
  text-align: left;
  font-family: 'RobotoLight';
  font-size: 16px;
  line-height: 1.5;
}
@media screen and (max-width: 960px) {
  .shadow p {
    width: 100%;
  }
}
.shadow-info {
  width: 65%;
}
@media screen and (max-width: 960px) {
  .shadow-info {
    width: 100%;
  }
}
.shadow .more {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  transition: all 0.5s ease;
  opacity: 1 !important;
}
.shadow .more p {
  font-size: 16px;
  font-family: "GothamProMedium";
  color: #336687;
  margin-right: 10px;
  line-height: 1;
}
@media screen and (max-width: 960px) {
  .shadow .more p {
    width: 6em;
  }
}
.super {
  font-size: 60px;
  font-family: "Gotham Pro";
  font-weight: 600;
}
.medium {
  font-size: 24px;
}
.wrapper_owl {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 768px) {
  .wrapper_owl {
    width: 100%;
  }
}
.wrapper_owl .item {
  margin: 20px;
}
@media screen and (max-width: 768px) {
  .wrapper_owl .item {
    margin: 10px;
  }
}
.wrapper_owl .owl-nav.disabled {
  display: block;
}
@media screen and (max-width: 768px) {
  .wrapper_owl .owl-nav.disabled {
    display: none;
  }
}
.wrapper_owl .owl-nav.disabled .owl-prev {
  position: absolute;
  left: -50px;
  bottom: calc(50% - 17px);
}
.wrapper_owl .owl-nav.disabled .owl-next {
  position: absolute;
  right: -50px;
  bottom: calc(50% - 17px);
}
.text-block {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 25px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.text-block.publication .text-block_text {
  transition: all 0.5s ease;
  padding: 20px;
}
.text-block.publication .text-block_text:hover {
  background: #cbd3d8;
}
.text-block.publication:hover {
  background: transparent;
}
.text-block h2 {
  width: 100%;
}
.text-block:hover {
  background: #cbd3d8;
  transition: all 0.5s ease;
}
.text-block p.tac {
  width: 40%;
}
@media screen and (max-width: 768px) {
  .text-block p.tac {
    display: none;
  }
}
.text-block p.tac img {
  width: 50%;
}
.text-block .text-block_text {
  padding: 0 55px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
}
@media screen and (max-width: 768px) {
  .text-block .text-block_text {
    width: 100% !important;
    padding: 0 20px;
  }
}
.text-block .text-block_text p {
  width: 100%;
  line-height: 1.5;
  margin-bottom: 30px;
}
.public-head.full {
  height: calc(100vh - 150px);
}
.call .flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 640px) {
  .call .flex {
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .call .flex button {
    margin: 10px;
  }
}
.call .media {
  display: none !important;
}
.call .media input {
  border: 1px solid #336687;
}
@media screen and (max-width: 960px) {
  .call .media {
    display: block !important;
  }
}
.call .header-upper--search {
  width: auto;
}
@media screen and (max-width: 960px) {
  .call .header-upper--search {
    display: none;
  }
}
.call .public-head {
  background: #cbd3d8;
  padding: 28px 56px;
}
@media screen and (max-width: 480px) {
  .call .public-head {
    padding: 14px 56px;
  }
}
.call .public-head h2 div {
  float: right;
}
@media screen and (max-width: 960px) {
  .call .public-head button {
    display: none;
  }
}
.call .accordeon-box {
  border: 0;
}
.call .accordeon-box .date {
  margin: -22px 0 22px 0;
}
.call .accordeon-box.active {
  background: transparent;
}
.call .accordeon-box--button {
  position: relative;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.call .accordeon-box p {
  text-align: left;
}
.call .accordeon-box_content {
  margin-top: 20px;
  background: #3d79a1;
  padding: 20px;
  border-radius: 10px;
}
.call .accordeon-box_content p {
  color: #fff;
  line-height: 1.3;
}
.call .accordeon-box_content .profit {
  width: 20%;
  background: #1f3d52;
  border-radius: 10px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
@media screen and (max-width: 960px) {
  .call .accordeon-box_content .profit {
    width: 50%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 640px) {
  .call .accordeon-box_content .profit {
    width: 90%;
  }
}
.call .accordeon-box_content .profit p {
  width: 100%;
  padding: 10px 10px 0 10px;
}
.call .accordeon-box_content .profit a {
  width: 50%;
  padding: 10px;
  border-top: 2px solid #336687;
}
.call .accordeon-box_content .profit a:hover {
  background: #336687;
}
.call .accordeon-box_content .profit a.left {
  border-radius: 0 0 0 10px;
  border-right: 1px solid #336687;
}
.call .accordeon-box_content .profit a.right {
  border-radius: 0 0 10px 0;
  border-left: 1px solid #336687;
}
/*# sourceMappingURL=app/stylus/template-style.css.map */
/*# sourceMappingURL=template-style.css.map */