.call
	.public-fill
		+media(480px)
			width 90%
			margin 0 auto
	.flex
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		justify-content space-between
		align-items center
		+media(640px)
			flex-direction column-reverse
			button
				margin 10px
	.reverse
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		flex-direction row-reverse
		justify-content flex-end
		align-items center
		p
			margin 0 10px
			font-size 16px
	.media
		display none !important
		input
			border 1px solid blue
		+media(960px)
			display block !important
	.header-upper--search
		width auto
		+media(960px)
			display none
	.public-head
		background active
		padding 28px 56px
		+media(480px)
			padding 14px 56px
		h2
			div
				float right
		button
			+media(960px)
				display none
	.accordeon
		&-box
			border 0
			.date
				margin -22px 0 22px 0
			&.active
				background transparent
			&--button
				position relative
				justify-content center
			p
				text-align left
			&_content
				margin-top 20px
				background lightblue*0.7
				padding 20px
				border-radius 10px 
				p
					color #fff
					line-height 1.3
				.profit
					width 20%
					background darkblue
					border-radius 10px
					display -webkit-flex
					display -moz-flex
					display -ms-flex
					display -o-flex
					display flex
					flex-wrap wrap
					+media(960px)
						width 50%
						margin 0 auto
					+media(640px)
						width 90%
					p
						width 100%
						padding 10px 10px 0 10px
					a
						width 50%
						padding 10px
						border-top 2px solid blue
						&:hover
							background blue
						&.left
							border-radius 0 0 0 10px
							border-right 1px solid blue
						&.right
							border-radius 0 0 10px 0
							border-left 1px solid blue
.callback
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	flex-wrap wrap
	justify-content space-between
	&-item
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		flex-direction column
		width 49%
		margin 10px 0
		+media(768px)
			width 100%
		input
			padding 10px
			border 0
			border-radius 3px
			background #dcf1ff
			color active
			transition animation
			&:hover
				box-shadow 0 0 10px 1px active
			&:focus
				outline 0
				box-shadow 0 0 10px 1px lightblue	
.new
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	flex-wrap wrap
	&-item
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		flex-direction column
		width 100%
		input, textarea
			padding 10px
			border 0
			border-radius 3px
			background #dcf1ff
			color active
			transition animation
			margin 10px 0
			&:hover
				box-shadow 0 0 10px 1px active
			&:focus
				outline 0
				box-shadow 0 0 10px 1px lightblue	
		textarea
			min-height 125px
			color #000
			font-size 16px	
.checkbox
	input[type=checkbox]
		display none
	label
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		margin 5px 0
		&:nth-last-child(1)
			margin-bottom 25px
		&::before
			content ""
			display block
			size (15px 15px)
			background url('../img/checkbox.png')
			background-position: 15px 0
			margin-right 5px
	input[type=checkbox]
		&:checked
			& + label:before 
				background url('../img/checkbox.png')
				background-position:  0 0	

			