footer //TODO 960px
	width 100%
	height 55px
	background blue
	//position absolute fix-it
	position absolute
	font-family "GothamProRegular"
	font-size 14px
	+media(960px)
		padding 0 10px
	
	.wrapper
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		justify-content space-between
		margin 0 auto
		align-items center
		color #fff
		box-shadow none
		+media(480px)
			flex-direction column
	div
		height 55px
		line-height 55px
		+media(480px)
			line-height 25px
	