.gallery
	width 64%
	margin 0 auto
	@media (max-width 768px)
		width 90%
	&-current
		width calc(100% - 2%)
		margin-bottom 10px
		&--item
			width 100%
	&-list
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		white-space nowrap
		overflow hidden
		width 100%
		@media (max-width 768px)
			display none
		&--item
			width 95%
		.paggination
			position absolute
			width 120%
			top calc(50% - 17px)
			left -10%
			height 0
.owl-stage
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
