header
  .wrapper
    box-shadow 0 0 0 0 transparent
    margin: 0 auto
    display -webkit-flex
    display -moz-flex
    display -ms-flex
    display -o-flex
    display flex
    align-items center
    justify-content space-between
.header-upper--logo, .header-upper--description, .header-upper--search
	width 33.33%
	text-align center
	p
		font-size 100%
		line-height 1.5
	+media(1200px)
		width 50%
.header-upper--logo
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	justify-content flex-start
	align-items center
	+media(480px)
		width 10%
	p
		+media(768px)
			display none
.header-upper--description
	+media(1200px)
		display none
.header-upper--search
	text-align right
	+media(768px)
		width 90%
	input
		border-radius 20px
		height 25px
		border 0
		padding 5px 20px
		box-sizing border-box
		+media(480px)
			max-width 150px
	button
		background blue*1.2
		border-radius 20px
		box-shadow 0 0 5px 0px darkblue
		width auto
		line-height 1.8
		padding 5px 20px
.min
	.header-upper
		top -55px !important
	.header-top
		top 0 !important
.header-upper
	height 90px
	width 100%
	left 0
	background blue
	top 0
	position fixed
	transition animation
.header-top
	background blue
	position fixed
	top 90px
	left 0
	width 100%
	height 60px
	transition animation
	z-index 2
	&_menu
		width 231px
		height 59px
		background darkblue
		@media (max-width 480px)
			width 55px
	&_nav
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		flex-grow 1
		justify-content flex-start
		align-items center
		margin-left 1em
		@media (max-width 960px)
			justify-content space-around
		@media (max-width 480px)
			justify-content flex-start
		li
			margin 0 .5em
			@media (max-width 1200px)
				&:nth-last-child(1)
					display none
			@media (max-width 960px)
					display none
					&:nth-child(1)
						display block
			a
				transition animation
				&:hover
					color gray
	&_phone
		min-width 11em
		@media (max-width 960px)
			min-width 12em
		p
			padding-top 5px
			font-family "RobotoLight"
			margin 0
			color #fff
		a
			font-size 20px
			line-height 2
			cursor pointer
			font-weight 600
			font-family: 'RobotoBold'
.menu
  &-header
    display: flex
    height: 55px
    padding-left: 25px
    align-items center
    cursor pointer
    background url(../img/menu-btn.png) //layer with open
    @media (max-width 480px)
      padding-left 15px
      background-position: -17px 0 
    p
      margin-left 25px
      font-family "GothamProMedium"
      font-size 16px
      @media (max-width 480px)
        display none
  ul
    background darkblue
    padding 0 0 15px
    margin-top: -200vh
    transition all 1s ease-out
    @media (max-width 480px)
      position absolute
      width 100%
    &.open
      margin 0
      max-height calc(100vh - 60px)
      overflow auto
    li
      padding 10px 25px
      min-height 40px
      &:hover
        background: blue
      a
        font-size 12px