.font-white
	color #fff !important
.font-black
	color #000 !important
.font-blue
	color blue !important
.font-darkblue
	color darkblue !important
.font-active
	color active !important
.font-bold
	font-weight bold !important
	font-family "RobotoBold" !important
.font-normal
	font-weight normal !important
	font-family "RobotoRegular" !important
.ttu
	text-transform uppercase !important
.tdu
	text-decoration underline
.ttn
	text-transform none !important
.tac
	text-align center !important
.tal
	text-align left !important
.taj
	text-align justify !important
.tar
	text-align right !important
.full
	width 100% !important
.large
	width 66.66% !important
.small
	width 33.33% !important
.semi
	width 50% !important
.wrap
	flex-wrap wrap !important
.center
	margin 0 auto
.clear
	clear both !important
.fl
	float left !important
.fr
	float right !important
.active
	background active
.none
	display none !important
.opacity
	opacity 0 !important