.font-white
	color #fff !important
.font-black
	color #000 !important
.font-blue
	color blue !important
.font-darkblue
	color darkblue !important
.font-active
	color active !important
.font-bold
	font-weight bold !important
.tac
	text-align center !important
.full
	width 100% !important
.large
	width 66.66% !important
.small
	width 33.33% !important
.wrap
	flex-wrap wrap !important
.clear
	clear both !important
.fl
	float left !important
.fr
	float right !important
.active
	background active