.sitebar
	width 231px
	background lightgray
	font-family 'GothamProMedium'
	font-size 18px
	@media (max-width 960px)
		width 100%
	&-item
		padding 20px 30px
		&_active
			background active
			padding 20px 30px
		
		&--date
			line-height 30px
			color gray  
.sitebar_a
	color blue
	line-height 25px
	text-decoration underline //здесь поставил подчеркивание строкой, т.к. в css нет возможности, а для оформления на js нужно перевести в строку, посчитать, сколько войдет в ряд, преобразовать в n строк и им задавать border-bottom. Это дикий костыль, поэтому лучше изменить макет
	padding 25px 0
	font-family 'GothamProMedium'
	font-size 18px
