@import "http://webfonts.ru/import/roboto.css"
@import "http://allfont.ru/allfont.css?fonts=roboto-thin"
@import "http://allfont.ru/allfont.css?fonts=roboto-medium"
@import "http://allfont.ru/allfont.css?fonts=roboto-light"
@import "fonts.styl"
@import "variables.styl"
@import "header.styl"
@import "content.styl"
@import "left.styl"
@import "menu.styl"

body
	background #e0e0e0
.wrapper
	max-width 1233px
	margin 0 auto
	position relative
h1
	font-size 56px
	padding 50px
	color darkblue
	background blue
a{
  font-size 14px
  color #fff
  font-family "GothamProRegular"
  text-decoration none
}
p{
  color #fff  
  font-family 'Roboto'
  font-size 14px
  }