@import "variables.styl"

body
	background lightgray
.wrapper {
  max-width 1233px
  margin 55px auto 0
  box-shadow 0px 0px 10px 0px black
  position relative
  &.pub{
    display: flex
  }
}
a{
  font-size 14px
  color #fff
  font-family "GothamProRegular"
  text-decoration none
}
p{
  color #fff  
  font-family 'Roboto'
  font-size 14px
  }
.content{
  margin-top 55px
}
@import "fonts.styl"
@import "header.styl"
@import "content.styl"
@import "left.styl"
@import "menu.styl"