@import "variables.styl"

body
	background lightgray
.wrapper {
  max-width 1233px
  margin 55px auto 0
  box-shadow shadow
  position relative
  &.pub{
    display: flex
  }
}
h1{
  font-size 30px
  color #fff
  font-family "GothamProRegular"
}
h2{
  font-size 25px
  color blue
  font-family "GothamProMedium"
}
a{
  font-size 14px
  color #fff
  font-family "GothamProRegular"
  text-decoration none
}
b{
  font-weight 600
}
p{
  color #fff  
  font-family 'Roboto'
  font-size 14px
  }
.content{
  margin-top 55px
}
.btn_more{
  background blue
  color #fff
  border-radius 5px
  border 0
  width 160px
  height 30px
  cursor pointer
  transition animation
  &:hover{
    background darkblue
  }
  }
.pagginaton{
  width 100%
  height 0
  &_prew{
    width 35px
    height 35px
    background arrows
    background-position arrows-prew
    float left
    cursor pointer
    &:hover{
    background arrows
    background-position arrows-prew-hover
    }
    &__white{
      @extend .pagginaton_prew
      @extend .pagginaton_prew:hover
    }
    }
  &_next{
    width 35px
    height 35px
    background arrows
    background-position arrows-next
    float right
    cursor pointer
    &:hover{
    background arrows
    background-position arrows-next-hover
    }
    &__white{
      @extend .pagginaton_next
      @extend .pagginaton_next:hover
    }
    }
}
.studio{
  &::after{
    content '\00A9'
  }
}
@import "fonts.styl"
@import "header.styl"
@import "menu.styl"
@import "content.styl"
@import "left.styl"
@import "public.styl"
@import "gallery.styl"
@import "footer.styl"