.paggination
  display -webkit-flex
  display -moz-flex
  display -ms-flex
  display -o-flex
  display flex
  flex-wrap wrap
  justify-content center
  align-items center
  margin 10px 0
  a
    color #000
    font-family: "RobotoLight"
    padding 0 10px
    font-size 16px
  .page
    &.number
      size (35px 35px)
      border-radius (50%)
      text-align center
      line-height 35px
      margin 0 3px
      &:hover
        background active
    &_not
      +media(768px)
        display none
    &.active
      background blue
      a
        color #fff
        font-weight 600