.photo
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	flex-wrap wrap
	justify-content space-around
	+media(768px)
		margin-top 50px
	&-block,
	&-group
		padding 15px
		width 33%
		+media(768px)
			width 48%
		+media(480px)
			width 100%
		&_item
			transition animation
			a
				color blue
				text-transform uppercase
				text-decoration underline
				transition animation
				font-size 16px
				font-family: "RobotoRegular"
				&:hover
					color blue*1.4
			p
				text-align center
			img
				width 100%
				border img-b
			&:hover
				background active
	&-group		
		&_item
			padding 20px
			border 1px solid active
			text-align center
			img
				border none
				margin 10px 0
	.btn_more
		width 25%
		height 40px
		text-align center
		line-height 40px
		+media(768px)
			width 50%
		+media(480px)
			width 90%
.fancybox-opened
	+media(480px)
		width 100% !important
		height auto !important
		position fixed !important
		left 0 !important
		opacity 1 !important
		overflow visible !important
.fancybox-inner
	+media(480px)
		width 100% !important
		height 100% !important
.fancybox-close
	+media(480px)
		top -50px
		right 15px
.fancybox-overlay
	+media(480px)
		background rgba(21, 47, 66, .9) !important
.js_years
	h3
		+media(768px)
			display none
	h5
		display none
		font-family "RobotoRegular"
		+media(768px)
			display block
			width 100%
		    position absolute
		    background blue
		    left 0
		    top 114px
		    height 27px
		    color #fff
		    text-align center
		    padding 15px
		    line-height 0
		+media(480px)
			top 60px
			padding 18px
	select
		width 100%
		position absolute
		left 0