.arrows
  display -webkit-flex
  display -moz-flex
  display -ms-flex
  display -o-flex
  display flex
  justify-content space-between
.arrow-prew
  size (35px 35px)
  background url(../img/sprite.png)
  background-position: 0 0
  border-radius (50%)
  &:hover
    @extend .arrow-prew
    background-position-y 72px
  &:active
    @extend .arrow-prew
    background-position-y 36px
.arrow-next
  size (35px 35px)
  background url(../img/sprite.png)
  background-position: 140px 0
  border-radius (50%)
  &:hover
    @extend .arrow-next
    background-position-y 72px
  &:active
    @extend .arrow-next
    background-position-y 36px
.arrow-up
  size (35px 35px)
  background url(../img/sprite.png)
  background-position: 70px 0
  border-radius (50%)
  &:hover
    @extend .arrow-up
    background-position-y 72px
  &:active
    @extend .arrow-up
    background-position-y 36px
.arrow-down
  size (35px 35px)
  background url(../img/sprite.png)
  background-position: 105px 0
  border-radius (50%)
  &:hover
    @extend .arrow-down
    background-position-y 72px
  &:active
    @extend .arrow-down
    background-position-y 36px
.icon
  size (56px 76px)
  background url(../img/icons.png)
  &.bus
    background-position: 0 0
  &.gas
    background-position: -56px 0
  &.fire
    background-position: -112px 0
  &.wash
    background-position: 115px 0
  &.parking
    background-position: 56px 0
  &.camping
    background-position: 0 78px
  &.repair
    background-position: -56px 79px
  &.hotel
    background-position: -112px 79px
  &.rest
    background-position: 113px 79px
  &.food
    background-position: 56px 79px
.up
  display none
  size (38px 38px)
  background url(../img/footer_up.png)
  position absolute
  right 25px
  bottom 60px
  +media(768px)
    display block