@import "variables.styl"
@import "helpers.styl"
@import "sprite.styl"
@import "fonts.styl"
@import "header.styl"
@import "paggination.styl"
@import "paggination-years.styl"
@import "left.styl"
@import "public.styl"
@import "photo.styl"
@import "accordeon.styl"
@import "gallery.styl"
@import "image-block.styl"
@import "contacts.styl"
@import "operative_info.styl"
@import "object-service_map.styl"
@import "table.styl"
@import "footer.styl"

body
  background lightgray
.content
  margin 55px 0 0 0 //TODO Fix footer
.wrapper
  max-width 1200px
  margin 55px auto 0
  box-shadow shadow
  position relative
    &.pub
      display -webkit-flex
      display -moz-flex
      display -ms-flex
      display -o-flex
      display flex
      +media(960px)
        flex-direction column-reverse
  +media(1200px)
    max-width 960px
    width 100%
h1
  font-size 30px
  color #fff
  font-family "GothamProRegular"
  +media(480px)
    font-size 24px
h2
  font-size 25px
  color blue
  font-family "GothamProMedium"
  margin-bottom 10px
  +media(480px)
    font-size 18px
h3
  font-size 20px
  font-family "GothamProRegular"
  text-transform uppercase
  +media(480px)
    font-size 15px
a
  font-size 14px
  color #fff
  font-family "GothamProRegular"
  text-decoration none
p
  font-size 14px
  color #000
  font-family "RobotoRegular"
  margin-bottom 10px
select
  width 100%
  background darkblue
  border 1px solid #e0e0e0
  font-size 14px
  color #fff
  padding 5px 30px
  font-family "RobotoRegular"
  background-image url('../img/select.png')
  background-size 21px 12px
  background-position 97% center
  background-repeat no-repeat
  -moz-appearance none
  -ms-appearance none
  -webkit-appearance none
  appearance none
  option
    background darkblue
    color #fff
  +media(768px)
    border 0
  &.down
    background-image url('../img/select-down.png')
.btn_more
  background blue
  color #fff
  border-radius 5px
  border 0
  size (160px 30px)
  cursor pointer
  transition animation
  &:hover
    background darkblue
  &.mobile
    width 80%
    text-align center
    margin 0 auto
    line-height 1.8
    display none
    +media(480px)
      display block
svg
  height 2em
  path
    fill blue
.all
  @extend .sitebar_a
  padding 25px
  &::before
    content ""
    width 35px
    height 35px
    background arrows
    background-position arrows-next
    display block
    margin-bottom 10px
    @media (max-width 960px)
      display inline-block
      margin -10px 10px
.studio
  &::after
    content '\00A9'
.guide
  display -webkit-flex
  display -moz-flex
  display -ms-flex
  display -o-flex
  display flex
  margin 2em
  justify-content flex-start
  align-items center
  q
    border 1px solid black
    padding 5px