@import "variables.styl"
@import "sprite.styl"
@import "fonts.styl"
@import "header.styl"
@import "menu.styl"
@import "paggination.styl"
@import "paggination-years.styl"
@import "left.styl"
@import "public.styl"
@import "gallery.styl"
@import "image-block.styl"
@import "footer.styl"

body
  background lightgray
.content
  margin 55px 0 0 0 //TODO Fix footer
.wrapper
  max-width 1200px
  margin 55px auto 0
  box-shadow shadow
  position relative
    &.pub
      display -webkit-flex
      display -moz-flex
      display -ms-flex
      display -o-flex
      display flex
      +media(960px)
        flex-direction column-reverse
  +media(1200px)
    max-width 960px
    width 100%
h1
  font-size 30px
  color #fff
  font-family "GothamProRegular"
  +media(480px)
    font-size 24px
h2
  font-size 25px
  color blue
  font-family "GothamProMedium"
  margin-bottom 10px
  +media(480px)
    font-size 18px
h3
  font-size 20px
  font-family "GothamProRegular"
  text-transform uppercase
  +media(480px)
    font-size 15px
a
  font-size 14px
  color #fff
  font-family "GothamProRegular"
  text-decoration none
p
  font-size 14px
  color #000
  font-family "RobotoRegular"
  margin-bottom 10px
.font-white
  color #fff
.font-black
  color #000
.btn_more
  background blue
  color #fff
  border-radius 5px
  border 0
  size (160px 30px)
  cursor pointer
  transition animation
  &:hover
    background darkblue
  &.mobile
    width 80%
    text-align center
    margin 0 auto
    line-height 1.8
    display none
    +media(480px)
      display block
.all
  @extend .sitebar_a
  padding 25px
  &::before
    content ""
    width 35px
    height 35px
    background arrows
    background-position arrows-next
    display block
    margin-bottom 10px
    @media (max-width 960px)
      display inline-block
      margin -10px 10px
.full
  width 100%
.large
  width 66.66%
.small
  width 33.33%
.wrap
  flex-wrap wrap
.studio
  &::after
    content '\00A9'
.clear
  clear both
.fl
  float left
.fr
  float right
.arrows
  display -webkit-flex
  display -moz-flex
  display -ms-flex
  display -o-flex
  display flex
  justify-content space-between
.guide
  display -webkit-flex
  display -moz-flex
  display -ms-flex
  display -o-flex
  display flex
  margin 2em
  justify-content flex-start
  align-items center
  q
    border 1px solid black
    padding 5px