extends include.jade/header.jade

block content
  .content.call
      .wrapper
        .public.full
          .public-head
            h2 Online приемная: Список обращений
              .header-upper--search
                input(type="text" placeholder="Поиск...")
                button.btn_more Найти
            button.btn_more Создать обращение
          .public-fill
            .flex
              button.btn_more.media Создать обращение
              .header-upper--search.media
                  input(type="text" placeholder="Поиск...")
                  button.btn_more Найти
          - for (var x = 0; x < 6; x++)
            <hr>
            .accordeon
                .accordeon-box
                  .accordeon-box_head
                    .date.font-blue 27.08.2016
                    p.font-bold.ttu СОГЛАСОВАНИЕ ПРОХОЖДЕНИЯ ЛЭП 0,4 КВ ВБЛИЗИ М8 "ХОЛМОГОРЫ"
                    p Обращаюсь к вам от имени жителей деревни Середняя и Задубье. Просим произвести ремонт участка дороги Кострома -Иваново, поворот на деревню Середняя.На повороте глубокие большие ямы, глубиной более 20 см.Костромской ДЭП -3 ремонтировать отказываются ссылаясь на Ивановское федеральное предприятие "Холмогоры"
                  button.accordeon-box--button.btn_more Посмотреть ответ
                  .accordeon-box_content
                    h5.font-white.font-bold Ответ:
                    p Уважаемая Ирина Анатольевна! ФКУ Упрдор "Холмогоры" рассмотрело Ваше обращение и сообщает, что учреждение не осуществляет оперативное управление автомобильной дорогой общего пользования федерального значения А-113 Кострома-Иваново. Указанная автодорога находится в оперативном управлении ФКУ «Упрдор Москва — Нижний Новгород», адрес: 603159 г. Нижний Новгород, ул. Пролетарская, д. 18, телефон: +7 (831) 282-08-25, факс: +7 (496) 515-94-92, е-mail: uprdor@udmnn.ru. Учитывая вышеизложенное, по вопросам осуществления дорожной деятельности в отношении автодороги А-113 Кострома-Иваново Вам следует обратиться в ФКУ «Упрдор Москва — Нижний Новгород» по указанному выше адресу.
                    .profit
                      p.tac Был ли полезен ответ
                      a.tac.left(href="#") Да
                      a.tac.right(href="#") Нет                    
          include include.jade/paggination
  include include.jade/footer