extends include.jade/header.jade

block content
  .content
    .wrapper
      .public.full
          .public-head
              h1 Контакты
          .public-fill
          .map
            img(src="img/upload/map.jpg")
          .contact-wrapper
            .contact
              include ../img/svg.svg
              p г. Вологда, 160001, <br> Проспект Победы, 33 
            .contact
              include ../img/svg.svg
              p Тел. (8172) 72-37-55  <br class="no-mobile"> факс 72-37-13
            .contact
              include ../img/svg.svg
              p Диспетчерская служба: <br class="no-mobile">  Тел.: (8172) 72-36-01, (8172) 72-33-58, <br class="no-mobile">  моб. +79315030112  
            .contact
              include ../img/svg.svg
              p E-mail: sevzap@vologda.ru;  <br class="no-mobile">  dispetcher@holmogory.ru
            .contact
              include ../img/svg.svg
              p Контактная информация  <br class="no-mobile">  ФКУ Упрдор "Холмогоры"
          .clear
          .contacts
            .accordeon
              - for (var x = 0; x < 14; x++)
                .accordeon-box
                  .accordeon-box_head Аппарат при руководстве
                  .accordeon-box--button
                    .arrow
                  .accordeon-box_content
                    .table
                      .tr
                        .td
                        .td
                        .td Внутренний телефон
                        .td Городской телефон
                        .td Написать  письмо
                      .tr
                        .td Начальник управления
                        .td Фамилия имя отчество
                        .td 56114
                        .td 72-37-55
                        .td 
                          a(href="#")
                            include ../img/svg.svg
                      .tr
                        .td Начальник управления
                        .td Фамилия имя отчество
                        .td 56114
                        .td 72-37-55
                        .td 
                          a(href="#")
                            include ../img/svg.svg
                      .tr
                        .td Начальник управления
                        .td Фамилия имя отчество
                        .td 56114
                        .td 72-37-55
                        .td 
                          a(href="#")
                            include ../img/svg.svg
                      .tr
                        .td Начальник управления
                        .td Фамилия имя отчество
                        .td 56114
                        .td 72-37-55
                        .td 
                          a(href="#")
                            include ../img/svg.svg
                      .tr
                        .td Начальник управления
                        .td Фамилия имя отчество
                        .td 56114
                        .td 72-37-55
                        .td 
                          a(href="#")
                            include ../img/svg.svg


          
  include include.jade/footer.jade