doctype html
head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=0.7, user-scalable=no")
  title holmogory
  link(rel='stylesheet', href='css/reset.css')
  link(rel='stylesheet', href='css/owl.carousel.min.css')
  link(rel='stylesheet', href='css/jquery.fancybox.css')
  link(rel='stylesheet', href='css/main-style.css')
  link(rel='stylesheet', href='css/template-style.css')
body
  header
      .header-upper
        .wrapper
          .header-upper--logo
            img(src="img/rosautodor_min.png", alt="")
            p.font-white.tal <span class="font-bold">РОСАВТОДОР</span><br>федеральное дорожное агенство
          .header-upper--description
            p.font-white <span class="font-bold">ФКУ УПРДОР "ХОЛМОГОРЫ"</span><br> хорошие дороги-хорошим водителям!
          .header-upper--search
            input(type="text" placeholder="Поиск...")
            button.btn_more Найти
      .header-top
        .wrapper
          .header-top_menu
            include include.jade/menu.jade
          ul.header-top_nav
            li
              a(href="index.html") 
                img(src="img/logo.png", alt="logo")
            li
              a(href="#") Об управлении
            li
              a(href="#") Публикации в СМИ
            li
              a(href="#") Фотогалерея
            li
              a(href="#") Важно
            li
              a(href="#") Росавтодор
          .header-top_phone
            P телефон для связи:
            a(tel="+7(8172)72-37-55") +7(8172)72-37-55
  .content
      .public.full
          .public-head.full
              .logo_index
                img(src="img/logo_big.png", alt="")
                h1.font-white.tal <span class="font-bold">ФКУ УПРДОР "ХОЛМОГОРЫ"</span><br>Хорошие дороги - хорошим водителям!
              a(href="#scroll").to-down.font-white листать вниз
          .wrapper
            .public-fill.index
              #scroll
              .shadow
                h2 Обеспечение качества дорог
                p.font-black Упрдор «Холмогоры» проводит целенаправленную работу контроля качества всех видов работ, выполняемых на вверенных автодорогах. Информация о деятельности испытательной лаборатории Управления, сведения о лабораторном оборудовании и о средствах измерения, в том числе привлекаемых на договорной основе можно посмотреть на сайте.
                a(href="#")
                  .more.opacity
                    p Подробнее
                    .arrow-next
              .shadow
                h2 Перевозка КГ и ТВ грузов
                p.font-black Перечень объектов, включённых в программу дорожных работ «Развитие транспортной системы России (2013-2017 годы), финансируемых за счет средств Федерального дорожного фонда, по ФКУ Упрдор «Холмогоры» на 2016 год с вводом объектов по годам реализации.
                a(href="#")
                  .more.opacity
                    p Подробнее
                    .arrow-next
              .index-block
                .index-block_description
                  h3 Состояние автодорог
                  p.tal.font-white Перечень объектов, включённых в программу дорожных работ «Развитие транспортной системы России (2013-2017 годы), финансируемых за счет средств Федерального дорожного фонда, по ФКУ Упрдор «Холмогоры» на 2016 год с вводом объектов по годам реализации.
                  button.btn_more Узнать подробнее
                .index-block_buttons
                  .index-block_buttons__item
                    a(href="#")
                      include ../img/svg.svg
                      p.font-white Метео <br>и видео контроль
                  .index-block_buttons__item
                    a(href="#")
                      include ../img/svg.svg
                      p.font-white Оперативная <br>информация
                  .index-block_buttons__item
                    a(href="#")
                      include ../img/svg.svg
                      p.font-white Ограничения <br>движения
              .index-social
                a(href="#").index-social_item.twitter
                  p.opacity Мы в твиттере
                a(href="#").index-social_item.ok
                  p.opacity Мы в твиттере
                a(href="#").index-social_item.vk
                  p.opacity Мы в твиттере
                a(href="#").index-social_item.facebook
                  p.opacity Мы в твиттере
              .shadow
                h2 <span class="super">1567</span> <br> <span class="medium">созданых обращений</span>
                .shadow-info
                  h4 Работа онлайн приемной
                  p Работа онлайн приемной осуществляется с 2004 года и откликается на все просьбы, жалобы, а так же отвечает на все заданные вопросы
                  button.btn_more Узнать подробнее
              .carousel
                a.btn.prev.arrow-prew
                .owl-carousel
                  .item
                    img(src="img/upload/1_b.jpg", alt="")
                  .item
                    img(src="img/upload/1_b.jpg", alt="")
                  .item
                    img(src="img/upload/1_b.jpg", alt="")
                  .item
                    img(src="img/upload/1_b.jpg", alt="")
                a.btn.next.arrow-next


  .clear
  footer
    .wrapper
      .company ФКУ УПРДОР "Холмогоры" 2016.
      .studio Разработка и дизайн - <span> Aitek </span>
    .up
      a(href="#")
  script(type='text/javascript', src='js/jquery.min.js')
  script(type='text/javascript', src='js/owl.carousel.min.js')
  script(type='text/javascript', src='js/jquery.fancybox.js')
  script(type='text/javascript', src='js/app.js')