extends include.jade/header

block content
  .content
      .public.full.min-mobile
          .public-head.full
              .logo_index
                img(src="img/logo_big.png", alt="")
                h1.font-white <span class="font-bold">ФКУ УПРДОР "ХОЛМОГОРЫ"</span><br>Хорошие дороги - хорошим водителям!
              a(href="#scroll").to-down.font-white листать вниз
          .wrapper
            .public-fill.index
              #scroll
              .shadow
                h2 Обеспечение качества дорог
                p.font-black Упрдор «Холмогоры» проводит целенаправленную работу контроля качества всех видов работ, выполняемых на вверенных автодорогах. Информация о деятельности испытательной лаборатории Управления, сведения о лабораторном оборудовании и о средствах измерения, в том числе привлекаемых на договорной основе можно посмотреть на сайте.
                a(href="#")
                  .more.opacity
                    p Подробнее
                    .arrow-next
              .shadow
                h2 Перевозка КГ и ТВ грузов
                p.font-black Перечень объектов, включённых в программу дорожных работ «Развитие транспортной системы России (2013-2017 годы), финансируемых за счет средств Федерального дорожного фонда, по ФКУ Упрдор «Холмогоры» на 2016 год с вводом объектов по годам реализации.
                a(href="#")
                  .more.opacity
                    p Подробнее
                    .arrow-next
              .index-block
                .index-block_description
                  h3 Состояние автодорог
                  p.tal.font-white Перечень объектов, включённых в программу дорожных работ «Развитие транспортной системы России (2013-2017 годы), финансируемых за счет средств Федерального дорожного фонда, по ФКУ Упрдор «Холмогоры» на 2016 год с вводом объектов по годам реализации.
                  button.btn_more Узнать подробнее
                .index-block_buttons
                  .index-block_buttons__item
                    a(href="#")
                      include ../img/svg.svg
                      p.font-white Метео <br>и видео контроль
                  .index-block_buttons__item
                    a(href="#")
                      include ../img/svg.svg
                      p.font-white Оперативная <br>информация
                  .index-block_buttons__item
                    a(href="#")
                      include ../img/svg.svg
                      p.font-white Ограничения <br>движения
              .index-social
                a(href="#").index-social_item.twitter
                  p.opacity Мы в твиттере
                a(href="#").index-social_item.ok
                  p.opacity Мы в твиттере
                a(href="#").index-social_item.vk
                  p.opacity Мы в твиттере
                a(href="#").index-social_item.facebook
                  p.opacity Мы в твиттере
              .shadow
                h2 <span class="super">1567</span> <br> <span class="medium">созданых обращений</span>
                .shadow-info
                  h4 Работа онлайн приемной
                  p Работа онлайн приемной осуществляется с 2004 года и откликается на все просьбы, жалобы, а так же отвечает на все заданные вопросы
                  button.btn_more Узнать подробнее
              .wrapper_owl
                .owl-carousel
                  .item
                    img(src='img/banner1.jpg', alt='')
                  .item
                    img(src='img/banner2.jpg', alt='')
                  .item
                    img(src='img/banner1.jpg', alt='')
                  .item
                    img(src='img/banner2.jpg', alt='')
                  .item
                    img(src='img/banner1.jpg', alt='')
                  .item
                    img(src='img/banner2.jpg', alt='')
                  .item
                    img(src='img/banner1.jpg', alt='')
                  .item
                    img(src='img/banner2.jpg', alt='')
                  .item
                    img(src='img/banner1.jpg', alt='')
              .text-block
                p.tac
                  img(src="img/warning.png", alt="")
                .text-block_text
                  h4.font-blue О временных ограничениях движения на сети федеральных автомобильных дорог
                  p.taj В связи со снижением несущей способности конструктивных элементов автомобильных дорог, вызванной превышением допустимых температур в период неблагоприятных природно-климатических условий, приказом Федерального дорожного агентства от 05 апреля 2016 г. № 521 «О введении временных ограничений движения транспортных средств по автомобильным дорогам общего пользования федерального значения в 2016 году»  (зарегистрирован в Минюсте РФ 13 мая 2016 г., №42078), 
                  a.font-blue.tdu(href="#") Читать полностью
              .text-block.publication
                h2.tac.font-black Публикации в СМИ
                .text-block_text.semi
                  p.tal.font-blue.font-bold 24.05.2016
                  h4.font-blue.tal О временных ограничениях движения на сети федеральных автомобильных дорог
                  p.taj В связи со снижением несущей способности конструктивных элементов автомобильных дорог, вызванной превышением допустимых температур в период неблагоприятных природно-климатических условий, приказом Федерального дорожного агентства от 05 апреля 2016 г. № 521 «О введении временных ограничений движения транспортных средств по автомобильным дорогам общего пользования федерального значения в 2016 году»  (зарегистрирован в Минюсте РФ 13 мая 2016 г., №42078), 
                  a.tal.font-blue.tdu(href="#") Читать полностью
                .text-block_text.semi
                  p.tal.font-blue.font-bold 24.05.2016
                  h4.font-blue.tal О временных ограничениях движения на сети федеральных автомобильных дорог
                  p.taj В связи со снижением несущей способности конструктивных элементов автомобильных дорог, вызванной превышением допустимых температур в период неблагоприятных природно-климатических условий, приказом Федерального дорожного агентства от 05 апреля 2016 г. № 521 «О введении временных ограничений движения транспортных средств по автомобильным дорогам общего пользования федерального значения в 2016 году»  (зарегистрирован в Минюсте РФ 13 мая 2016 г., №42078), 
                  a.tal.font-blue.tdu(href="#") Читать полностью


  include include.jade/footer