extends include.jade/header.jade

block content
  .content
      .wrapper
        .public.full
          .public-head
            h1 Лабораторный контроль УПРДОР "Холмогоры"
          .public-fill
  include include.jade/footer.jade