extends include.jade/header.jade

block content
  .content
    .wrapper
      .public.full
          .public-head
              h1 Объекты сервиса
          .public-fill
          .image-block.fl.small
            img(src="img/upload/img-block.jpg")
            img(src="img/upload/img-block.jpg")
            img(src="img/upload/img-block.jpg")
            img(src="img/upload/img-block.jpg")
          h2  Автозаправочная станция Лукойл
          p.font-black Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et distinctio similique sint quaerat quas labore ab illum natus necessitatibus quisquam totam voluptas, dolor quia velit ducimus magni eos laudantium corrupti ipsa! Illo minima ab harum expedita, adipisci, molestias, porro provident natus repellendus enim illum atque beatae quaerat consectetur, assumenda ipsam temporibus architecto nesciunt perferendis quis. Aliquam enim unde aspernatur odio placeat. Quibusdam pariatur ab minus corporis suscipit nam soluta. Laboriosam mollitia deleniti et atque unde hic dicta molestias aperiam sint ab voluptatum illum officia culpa totam nam minus, rerum nulla beatae illo rem? In amet sunt deserunt eos, velit necessitatibus, autem ullam nostrum itaque temporibus impedit doloremque omnis quibusdam obcaecati. Tenetur tempore eius delectus consequuntur commodi aliquid voluptatibus recusandae optio deleniti error esse soluta consequatur exercitationem sit distinctio omnis, atque odio, officiis quae laudantium, expedita earum velit asperiores. Aliquam fuga magnam explicabo doloribus ipsum id quidem sunt distinctio atque eius.
          p.font-black Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et distinctio similique sint quaerat quas labore ab illum natus necessitatibus quisquam totam voluptas, dolor quia velit ducimus magni eos laudantium corrupti ipsa! Illo minima ab harum expedita, adipisci, molestias, porro provident natus repellendus enim illum atque beatae quaerat consectetur, assumenda ipsam temporibus architecto nesciunt perferendis quis. Aliquam enim unde aspernatur odio placeat. Quibusdam pariatur ab minus corporis suscipit nam soluta. Laboriosam mollitia deleniti et atque unde hic dicta molestias aperiam sint ab voluptatum illum officia culpa totam nam minus, rerum nulla beatae illo rem? In amet sunt deserunt eos, velit necessitatibus, autem ullam nostrum itaque temporibus impedit doloremque omnis quibusdam obcaecati. Tenetur tempore eius delectus consequuntur commodi aliquid voluptatibus recusandae optio deleniti error esse soluta consequatur exercitationem sit distinctio omnis, atque odio, officiis quae laudantium, expedita earum velit asperiores. Aliquam fuga magnam explicabo doloribus ipsum id quidem sunt distinctio atque eius.
          p.font-black Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et distinctio similique sint quaerat quas labore ab illum natus necessitatibus quisquam totam voluptas, dolor quia velit ducimus magni eos laudantium corrupti ipsa! Illo minima ab harum expedita, adipisci, molestias, porro provident natus repellendus enim illum atque beatae quaerat consectetur, assumenda ipsam temporibus architecto nesciunt perferendis quis. Aliquam enim unde aspernatur odio placeat. Quibusdam pariatur ab minus corporis suscipit nam soluta. Laboriosam mollitia deleniti et atque unde hic dicta molestias aperiam sint ab voluptatum illum officia culpa totam nam minus, rerum nulla beatae illo rem? In amet sunt deserunt eos, velit necessitatibus, autem ullam nostrum itaque temporibus impedit doloremque omnis quibusdam obcaecati. Tenetur tempore eius delectus consequuntur commodi aliquid voluptatibus recusandae optio deleniti error esse soluta consequatur exercitationem sit distinctio omnis, atque odio, officiis quae laudantium, expedita earum velit asperiores. Aliquam fuga magnam explicabo doloribus ipsum id quidem sunt distinctio atque eius.
          
          a.fr(href="#")
            .sitebar_a.all Все публикации
          .clear
  include include.jade/footer.jade