extends include.jade/header.jade

block content
  .content
      .wrapper.pub
        include include.jade/left-operative_info
        include include.jade/public-operative_info
  include include.jade/footer.jade