link(rel='stylesheet', href='css/owl.carousel.min.css')
link(rel='stylesheet', href='css/min.css')

.gallery
  .gallery-current
    img.gallery-list--item(src='img/slider/img-2.jpg')
  .gallery-list
    img.item.gallery-list--item(src='img/slider/img-2.jpg', alt='')
    img.item.gallery-list--item(src='img/slider/img-3.jpg', alt='')
    img.item.gallery-list--item(src='img/slider/img-4.jpg', alt='')
    img.item.gallery-list--item(src='img/slider/img-2.jpg', alt='')
    img.item.gallery-list--item(src='img/slider/img-3.jpg', alt='')
    img.item.gallery-list--item(src='img/slider/img-4.jpg', alt='')



script(type='text/javascript', src='js/jquery.min.js')
script(type='text/javascript', src='js/owl.carousel.min.js')
script(type='text/javascript', src='js/app.js')