.clear
footer
  .wrapper
    .company ФКУ УПРДОР "Холмогоры" 2016.
    .studio Разработка и дизайн - <span> Aitek </span>
.arrow-up
  a(href="#")
script(type='text/javascript', src='js/jquery.min.js')
script(type='text/javascript', src='js/owl.carousel.min.js')
script(type='text/javascript', src='js/jquery.fancybox.js')
script(type='text/javascript', src='js/app.js')