.clear
footer
  .wrapper
    .company ФКУ УПРДОР "Холмогоры" 2016.
    .studio Разработка и дизайн - <span> Aitek </span>
script(type='text/javascript', src='../bower_components/jquery/dist/jquery.js')
script(type='text/javascript', src='js/app.js')