.gallery
  .gallery-current
    img.gallery-current--item.js_resp(src="img/slider/img-1.jpg", alt="")
  .gallery-list
    img.gallery-list--item(src="img/slider/img-2.jpg", alt="")
    img.gallery-list--item(src="img/slider/img-3.jpg", alt="")
    img.gallery-list--item(src="img/slider/img-4.jpg", alt="")
    img.gallery-list--item(src="img/slider/img-2.jpg", alt="")
    img.gallery-list--item(src="img/slider/img-3.jpg", alt="")
    img.gallery-list--item(src="img/slider/img-4.jpg", alt="")
    img.gallery-list--item(src="img/slider/img-2.jpg", alt="")
    img.gallery-list--item(src="img/slider/img-3.jpg", alt="")
    img.gallery-list--item(src="img/slider/img-4.jpg", alt="")