.sitebar
  .sitebar-item
    a(href="#").sitebar_a Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, unde.
  .sitebar-item_active
    a(href="#").sitebar_a Капитальный ремонт автодорог 
  - for (var x = 0; x < 4; x++)
    .sitebar-item
      a(href="#").sitebar_a Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, unde.