.sitebar
      .sitebar-item
        .sitebar-item--date 14.09.2016
        a(href="#").sitebar_a На участке вологодской трассы от Череповца до поворота на Белозерск открыто рабочее движение
      .sitebar-item_active
        .sitebar-item--date 14.09.2016
        a(href="#").sitebar_a В облсобрании обсудили возможность реконструкции опасного участка трассы Северодвинск — Архангельск 
      .sitebar-item
        .sitebar-item--date 14.09.2016
        a(href="#").sitebar_a На участке вологодской трассы от Череповца до поворота на Белозерск открыто рабочее движение
      .sitebar-item
        .sitebar-item--date 14.09.2016
        a(href="#").sitebar_a В облсобрании обсудили возможность реконструкции опасного участка трассы Северодвинск — Архангельск 
      .sitebar-item
        .sitebar-item--date 14.09.2016
        a(href="#").sitebar_a В облсобрании обсудили
      .sitebar-item
        .sitebar-item--date 14.09.2016
        a(href="#").sitebar_a В облсобрании обсудили возможность реконструкции опасного участка трассы Северодвинск — Архангельск
      a(href="#")
        .sitebar_a.all Все публикации