.menu
  .menu-header
    img(src="img/menu.png" alt="menu")
    p Меню
  ul
    li
      a(href="#") Об управлении
    li
      a(href="#") Публикации в СМИ
    li
      a(href="#") Фотогалерея
    li
      a(href="#") Важно
    li
      a(href="#") Росавтодор
    li
      a(href="#") Сеть обслуживаемых дорог
    li
      a(href="#") Безопасность дорожного  движения
    li
      a(href="#") Перевозка КГ и ТВ грузов
    li
      a(href="#") Обеспечение качества работ