.public
    .public-head
        h1 Капитальный ремонт автодорог 
    .public-fill
      h2 Капитальный ремонт
      .accordeon
        - for (var x = 0; x < 4; x++)
          .accordeon-box
            .accordeon-box_head Заголовок
            .accordeon-box_content
              p Ответ 1.1
              p Ответ 1.2
              p Ответ 1.3
      h2 Ремонт автодорог
      .accordeon
        - for (var x = 0; x < 4; x++)
          .accordeon-box
            .accordeon-box_head Заголовок
            .accordeon-box_content
              p Ответ 1.1
              p Ответ 1.2
              p Ответ 1.3
      
