.public.static
    .public-head
        h1 Публикации в СМИ 
    .public-fill
      h2 В облсобрании обсудили возможность реконструкции опасного участка трассы Северодвинск — Архангельск
      .public-fill--date 15.09.2016
      p На сессии областного Собрания депутатов 21 сентября будет вынесено обращение о переводе аварийного участка в дорогу первой категории. Тогда трассу будет необходимо расширить минимум до четырёх полос и поставить отбойники не только по обочинам, но и один разделительный отбойник посередине. 
      p Обращение о необходимости реконструкции направят Росавтодору и министерству транспорта, сообщает «Северная неделя». На сессии областного Собрания депутатов 21 сентября будет вынесено обращение о переводе аварийного участка в дорогу первой категории. Тогда трассу будет необходимо расширить минимум до четырёх полос и поставить отбойники не только по обочинам, но и один разделительный отбойник посередине.
      p Обращение о необходимости реконструкции направят Росавтодору и министерству транспорта, сообщает «Северная неделя». 
      .public-fill--gallery
        include gallery.jade
      p На сессии областного Собрания депутатов 21 сентября будет вынесено обращение о переводе аварийного участка в дорогу первой категории. Тогда трассу будет необходимо расширить минимум до четырёх полос и поставить отбойники не только по обочинам, но и один разделительный отбойник посередине.
    .public-more
      h2 Вам может быть интересно
      .public-more--item
        img(src="img/slider/img-2.jpg", alt="sometext").public-more--item--img
        .public-more--item--date 28.07.2016
        .public-more--item_text <span class="head">В облсобрании обсудили возможность реконструкции опасного участка трассы Северодвинск — Архангельск.</span> <br><br> Вопрос реконструкции на трассе Северодвинск — Архангельск обсудили на совещании депутаты областного собрания, Росавтодор, ГИБДД и правительство Архангельской области.
        button.btn_more Узнать подробнее
      .public-more--item
        img(src="img/slider/img-2.jpg", alt="sometext").public-more--item--img
        .public-more--item--date 28.07.2016
        .public-more--item_text <span class="head">В облсобрании обсудили возможность реконструкции опасного участка трассы Северодвинск — Архангельск.</span> <br><br> Вопрос реконструкции на трассе Северодвинск — Архангельск обсудили на совещании депутаты областного собрания, Росавтодор, ГИБДД и правительство Архангельской области.
        button.btn_more Узнать подробнее
      .public-more--item
        img(src="img/slider/img-2.jpg", alt="sometext").public-more--item--img
        .public-more--item--date 28.07.2016
        .public-more--item_text <span class="head">В облсобрании обсудили возможность реконструкции опасного участка трассы Северодвинск — Архангельск.</span> <br><br> Вопрос реконструкции на трассе Северодвинск — Архангельск обсудили на совещании депутаты областного собрания, Росавтодор, ГИБДД и правительство Архангельской области.
        button.btn_more Узнать подробнее
    .arrows.no-mobile
      .arrow-prew
      .arrow-next
    .btn_more.mobile Посмотреть последние