.public
    .public-head
        h1 Публикации в СМИ 
    .public-fill
      h2 В облсобрании обсудили возможность реконструкции опасного участка трассы Северодвинск — Архангельск
      .public-fill--date 15.09.2016
      p На сессии областного Собрания депутатов 21 сентября будет вынесено обращение о переводе аварийного участка в дорогу первой категории. Тогда трассу будет необходимо расширить минимум до четырёх полос и поставить отбойники не только по обочинам, но и один разделительный отбойник посередине. 
      p Обращение о необходимости реконструкции направят Росавтодору и министерству транспорта, сообщает «Северная неделя». На сессии областного Собрания депутатов 21 сентября будет вынесено обращение о переводе аварийного участка в дорогу первой категории. Тогда трассу будет необходимо расширить минимум до четырёх полос и поставить отбойники не только по обочинам, но и один разделительный отбойник посередине.
      p Обращение о необходимости реконструкции направят Росавтодору и министерству транспорта, сообщает «Северная неделя». 
      .public-fill--gallery
        